@mixin styleBox ($maxWidth, $gap, $color)
{
    margin: 20px auto;
    max-width: $maxWidth;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;
    background-color: $color;
}

@mixin backgroundImage($path)
{
    background: url($path) no-repeat center center fixed; 
    background-size: cover;
}