// Colors:
$boxBackgroundColor: #ffffffbb;
$boxBackgroundColorLess: #ffffffe7;
$tooltipBackgroundColor: white;
$borderColor: #f1f1f1;

// RWD breakpoints:
$bp1: 576px;
$bp2: 768px;
$bp3: 992px;
$bp4: 1200px;
$bp5: 1920px;
