// Colors:
$boxBackgroundColor: #ffffffbb;
$boxBackgroundColorLess: #ffffffe7;
$tooltipBackgroundColor: white;
$borderColor: #f1f1f1;

// RWD breakpoints:
$bp1: 576;
$bp2: 768;
$bp3: 992;
$bp4: 1200;
$bp5: 1920;
