<body class="login__body">
    <div class="loginForm form-container" id="login_form" style="display: <%= loginDisplay %>">
        <form action="/login" method="post">

            <% if(typeof error!= 'undefined') { %>
            <p class="errors" id="error"><strong><%= error %></strong> </p>
            <% } %>

            <h3>Logowanie</h3>
            <div class="form-group">
                <input type="hidden" name="path" value="<%= typeof path != 'undefined' ? path : '/'%>" />
                <label for="email"><b>E-mail</b></label>
                <input class="form-control" type="text" placeholder="Enter Email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password"><b>Hasło</b></label>
                <input class="form-control" type="password" placeholder="Enter Password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Zaloguj się</button>
        </form>
        <button class="btn btn-link" id="back_btn">Wróć</button>
    </div>
</body>
<script src="./../js/login.js"></script>