<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
    <link rel="stylesheet" href="./../assets/css/index.css">
</head>
<body>
    <h1>Rejestracja</h1>
    <h2>Formularz Rejestracyjny</h2>
    <form action="/postUserData" method="post">
        <label for="login">Podaj swój login
            <input type="text" name="login" id="" placeholder="Podaj swój login">
        </label>
        <br>
        <label for="password">Podaj swoje hasło
            <input type="text" name="password" id="" placeholder="Podaj swoje hasło">
        </label>
        <br>
        <label for="name">Podaj swoje imię
            <input type="text" name="name" id="" placeholder="Podaj swoje imię">
        </label>
        <br>
        <label for="lastname">Podaj swoje nazwisko
            <input type="text" name="lastname" id="" placeholder="Podaj swoje nazwisko">
        </label>
        <br>
        <label for="agee">Podaj swój wiek
            <input type="text" name="age" id="" placeholder="Podaj swój wiek">
        </label>
        <br>
        <button type="submit">Zarejestruj się</button>
    </form>
    <a href="/">Przejdź do strony głównej</a>
    <script src="./../js/index.js"></script>
</body>
</html>