body {
    box-sizing: border-box;
}

/* The popup form - hidden by default */
.form-popup {
    /* display: none; */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 50px;
    background-color: white;

    form {
        h3 {
            text-align: center;
            margin-bottom: 20px;
        }
        button {
            float: right;
        }
    }
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

