@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.flightDetails__body {

    @include backgroundImage('/assets/img/background2.jpg');
}

.flightDetails__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.flightDetails__tooltip {
    width: 250px;
    padding: 20px;
    background-color: $tooltipBackgroundColor;
    border-radius: 6px;
    position: absolute;
    display: none;
    z-index: 9;

    &::before {
        content: "";
        width: 12px;
        height: 12px;
        transform: rotate(45deg);
        background-color: white;
        position: absolute;
        left: -6px;
        top: 68px;
    }
}

.flightDetails__airplane {
    width: calc(70vw - 200px);
    height: calc(100vh - 150px);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin-top: 30px;

    svg {
        height: 230%;
        min-width: 130%;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
    }
}

.flightDetails__form {

    @include styleBox(800px, 10px,$boxBackgroundColor);
    height: fit-content;

}

@media (max-width: 800px) {
    .flightDetails__container {
        flex-direction: column;
        align-items: center;
    }

    .flightDetails__airplane {
        width: calc(100vw - 50px);
    }
}


.flightDetails__form--seats {
    padding: 0;
}